{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

</head>
<body>
    <header>
        <img src={% static "images/amazon_logo.png" %}>

        <div class="box1">
            <i class="fa-solid fa-location-dot" style="color: #FFFFFF;"></i>
            <div class="box3">
                <p class="box4">Delivering to Sonipat 131001</p>
                <p class="box5">Update Location</p>
            </div>
        </div>

        <div class="drop_down_box">
            <select name="" id="">
                <option value="">All</option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
            <input type="text" name="" placeholder=" Search amazon.in">
            <div class="magnifying_box">
                <i class="fa-solid fa-magnifying-glass" style="color: rgb(0, 0, 1);"></i>
            </div>
        </div>

        <div class="language-box">
            <p>🇮🇳 <span id="EN">EN</span></p>
        </div>

        <div class="Box-hello">
            <p id="text1">Hello, sign in</p>
            <p id="text2">Account &amp; Lists</p>
        </div>

        <div class="return-box">
            <p id="text3">Return</p>
            <p id="text4">&amp; Orders</p>
        </div>

        <div>
            <p>0</p>
            <p>🛒 cart</p>
        </div>
    </header>
</body>
</html>